body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul.guitars{
  width: 80%;
  margin: 20px auto;
  padding: 0;
}

ul.guitars li{
  width: 100%;
  list-style: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
}

ul.guitars li.dead{
  display: none;
}

ul.guitars li .left{
  float: left;
  width: 40%;
}

ul.guitars li h2{
  text-transform: capitalize;
  font-size: 1.5em;
}

ul.guitars li .right{
  float: right;
  width: 60%;
}

ul.guitars li .right img{
  width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
